
html, body {
margin: 0;
height: 100%;
overflow: hidden;   /* ← verhindert Scrollen */
}

body {  
color: rgba(255, 0, 0, 0.886);
background-image: url("Screenshot 2025-12-23 184551.png");
background-size: contain;   /* ← WICHTIG */
background-position: center;
background-repeat: no-repeat;
background-color: rgba(11, 0, 110, 0.645);   /* Balken-Farbe */
text-align: center;
font-size: 30px;
}

div {
    margin-bottom: 20px; /* schiebt den Link nach unten */
}

a {
    text-decoration: none;
    background-color: rgb(234, 168, 25);
    padding: 5px;
    font-size: 25px;
    border-radius: 10px;
    color: blue
    
}

a:hover {
    background-color: rgb(228, 184, 90);
}

.platz {
    display: flex;
    justify-content: space-around;
}

h1 {
    margin-top: 70px;
}

html, body {
margin: 0;
height: 100%;
overflow: hidden;   /* ← verhindert Scrollen */
}

body {  
color: rgba(255, 0, 0, 0.886);
background-image: url("Screenshot 2025-12-23 184551.png");
background-size: contain;   /* ← WICHTIG */
background-position: center;
background-repeat: no-repeat;
background-color: rgba(11, 0, 110, 0.645);   /* Balken-Farbe */
text-align: center;
font-size: 30px;
}

div {
    margin-bottom: 20px; /* schiebt den Link nach unten */
}

a {
    text-decoration: none;
    background-color: rgb(234, 168, 25);
    padding: 5px;
    font-size: 25px;
    border-radius: 10px;
    color: blue
    
}

a:hover {
    background-color: rgb(228, 184, 90);
}

.platz {
    display: flex;
    justify-content: space-around;
}

h1 {
    margin-top: 70px;
}

